@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: url('./floatingpoly.svg');
    box-sizing: border-box;
}

.hero-container {
    display:flex;
    display: inline-block;
    padding:10px;
    margin: 4rem;
    background-color: rgba(26, 51, 208, .5);
    color:aliceblue;
    font-size: large;
    padding-bottom: 30px;
    width:100%;
    max-width: 1200px;
}

.topnav {
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: large;
}

h1 {
    margin:5em;
    background-color: gray;
    padding:20px;

}

.button {
    color: black;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

span {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}


